article {
    font-family: "RobotoLight", sans-serif;
}

.paragraph {
    display: flex;
}

.paragraph .text-column {
    width: 67%;
    padding-right: 4%;
}

.paragraph .text-column.no-image {
    width: 100%;
}

.paragraph .text-column .article-text {
    font-size: 16pt;
}

.paragraph .media-column {
    width: 33%;
}

.paragraph .media-column img {
    max-width: 100%;
    height: auto;
}

.paragraph .media-column .image-caption {
    font-size: 12pt;
    color: rgb(124, 124, 124);
    font-style: italic;
}