.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    min-height: 300px;
    font-family: "RobotoLight", sans-serif;
}

.card-thumbnail {
    display: flex;
    border-right: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 33%;
    min-height: 100%;
}

.card-thumbnail img {
    max-width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.card-body.partial-width {
    width: 67%;
}

.card-body.full-width {
    width: 100%;
}

.card-title {
    min-width: 100%;
    max-width: 100%;
    padding: 6px 24px 6px 24px;
    font-weight: bold;
    font-size: 36pt;
    border-bottom: 1px solid #ccc;
}

.card-text {
    padding: 16px 24px 16px 24px;
    font-size: 16pt;
    min-width: 100%;
    max-width: 100%;
}

.card-test p {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .card {
        flex-direction: column;
        min-height: 600px;
    }

    .card-title {
        font-size: 28pt;
        width: 100%;
    }

    .card-thumbnail {
        max-height: 240px;
        width: 100%;
    }
    
    .card-thumbnail img {
        max-height: 240px;
    }

    .card-text {
        font-size: 12pt;
		line-height: 1.5;
    }
}