.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    min-height: 300px;
    font-family: "RobotoLight", sans-serif;
}

.card-thumbnail {
    display: flex;
    border-right: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    width: 33%;
    min-height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-title {
    min-width: 100%;
    padding: 6px 24px 6px 24px;
    font-weight: bold;
    font-size: 36pt;
    border-bottom: 1px solid #ccc;
}

.card-text {
    padding: 16px 24px 16px 24px;
    font-size: 16pt
}