/* Nav bar */
.mobile-nav {
	background-color: #225461;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding-top: 0px;
    font-family: "RobotoLight", sans-serif;
    font-size: 17px;
    display: flex;
}

.mobile-nav-links {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.mobile-nav-links a {
	display: flex;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.mobile-nav-links a:hover {
	background-color: #ddd;
	color: black;
}

.mobile-nav-links a.active {
	background-color: #6C84A2;
	color: white;
}

.mobile-nav-links:not(.opened) a:not(.active) {
    display: none;
}

.mobile-nav-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 3px 3px 0px 0px;
}

.mobile-nav-menu-icon img {
    width: 40px;
    height: 40px;
}