body{
	background-color: #859e9a;
	margin: 0;
}

.page-container{
	padding: 1% 10% 0% 10%; /* Top, right, bottom, left padding */
}

.content-container {
	background-color: white;
	padding: 2% 4% 4% 4%;
}